name: Node.js CI

on:
  push:
    branches: 
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
          
    timeout-minutes: 5

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install packages
      run: npm install

    - name: Build Application
      run: npm run build

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
          # Kill process or we'll get a timeout error    
    - name: Deploy Application
      env: 
        DEPLOY_HOOK_URL: ${{ secrets.DEPLOY_HOOK_URL }}
      run: curl -X POST $DEPLOY_HOOK_URL



