name: Node.js CI

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
          
    timeout-minutes: 5

    strategy:
      matrix:
        node-version: [18.x]


    steps:
      
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install packages
      run: npm install

    - name: Build Application
      run: npm run build
      env:
        PAT: ${{ secrets.PAT }}

  test:
    needs: [build]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install packages
      run: npm install

    - name: Install Playwright
      run: npx playwright install

    - name: Run test cases
      run: npm run test
      env:
        CI: true
        MONGODB_URI: ${{ secrets.MONGODB_URI }}
